.flex-master {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  height: 100%;
  overflow: auto;
}

.sidePanel {
  flex: 2 2 20%;

  background: lavender;
  background-image: url("../assets/images/backgroundStar.png");
  background-repeat: repeat;
}
